<p>perfil works!</p>
<button (click)="logout()">Cerrar sesion</button>
 
<form #insert="ngForm" (ngSubmit)="addMedico(insert)">
    
    <input type="text" name="interfaceMedico.id" ngModel placeholder="id" >
    <input type="text" name="interfaceMedico.name" ngModel placeholder="Nombre" requerid>
    <input type="text" name="interfaceMedico.lastName" ngModel placeholder="Apellido" requerid>
    <input type="date" name="interfaceMedico.birthDate" ngModel placeholder="fecha de nacimiento" requerid>
    <input type="text" name="interfaceMedico.placebirth"ngModel placeholder="luhar de nacimiento" requerid>
    <input type="text" name="interfaceMedico.cedula" ngModel placeholder="cedula profesional" requerid>
    <input type="tel" name="interfaceMedico.phone" nModel placeholder="Telefono" required>
    <input type="text" name="interfaceMedico.especialidad" ngModel placeholder="especialidad" required>
    <input type="text" name="interfaceMedico.curp" ngModel placeholder="curp" required> 

    <button type="submit">Registrar datos</button>
    
</form>


<!--
<input type="text" [(ngModel)]="interfaceMedico.id" placeholder="identificador" >
<input type="text" [(ngModel)]="interfaceMedico.name" placeholder="nombre">
<input type="text" [(ngModel)]="interfaceMedico.lastName" placeholder="apellido">
<input type="date" [(ngModel)]="interfaceMedico.birthDate" requerid>
<input type="text" [(ngModel)]="interfaceMedico.placebirth" placeholder="lugar de nacimiento" requerid>
<input type="text" [(ngModel)]="interfaceMedico.cedula"placeholder="cedula profesional" requerid>
<input type="tel" [(ngModel)]="interfaceMedico.phone" placeholder="Telefono" required>
<input type="text" [(ngModel)]="interfaceMedico.especialidad" placeholder="especialidad" required>
<input type="text" [(ngModel)]="interfaceMedico.curp" placeholder="curp" required> 

<button (click)="addMedico()">Guardar</button>

-->